.carousel-image {
    position: relative;
    width: 100%;
    min-height: 700px; /*  altura */
    max-height: 1000px;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .carousel-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* fondo oscuro */
  }
  
  .carousel-heading {
    font-size: 3rem; /* Aumenta el tamaño del texto */
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #fff; /* Color blanco para que resalte en las imágenes */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Agrega sombra al texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro transparente */
    padding: 0.5rem 1rem; /* Añade un poco de relleno alrededor del texto */
    border-radius: 10px; /* Añade esquinas redondeadas */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Añade un efecto de difuminado */
  }
 


  /*Tranparente NO LO USO POR AHORA*/
  .hoc{display:block; margin:0 auto;}


  .clear, .group{display:block;}
  .clear::before, .clear::after, .group::before, .group::after{display:table; content:"";}
  .clear, .clear::after, .group, .group::after{clear:both;}
 
  
  



  /*----------------------------------------*/
  .header {
    position: relative;
    height: 80vh;
    min-height: 600px;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("");
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("src/assets/images/FondoTV.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
  
  }
  .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }


.container-fluid{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}
@media (max-width: 575.98px) {
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid, .navbar-expand-sm > .container-sm, .navbar-expand-sm > .container-md, .navbar-expand-sm > .container-lg, .navbar-expand-sm > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
}
.navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid, .navbar-expand-sm > .container-sm, .navbar-expand-sm > .container-md, .navbar-expand-sm > .container-lg, .navbar-expand-sm > .container-xl {
    flex-wrap: nowrap;
  }
  @media (max-width: 767.98px) {
    .navbar-expand-md > .container,
    .navbar-expand-md > .container-fluid, .navbar-expand-md > .container-sm, .navbar-expand-md > .container-md, .navbar-expand-md > .container-lg, .navbar-expand-md > .container-xl {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid, .navbar-expand-md > .container-sm, .navbar-expand-md > .container-md, .navbar-expand-md > .container-lg, .navbar-expand-md > .container-xl {
    flex-wrap: nowrap;
  }
  @media (max-width: 991.98px) {
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid, .navbar-expand-lg > .container-sm, .navbar-expand-lg > .container-md, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-xl {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid, .navbar-expand-lg > .container-sm, .navbar-expand-lg > .container-md, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-xl {
    flex-wrap: nowrap;
  }
  @media (max-width: 1199.98px) {
    .navbar-expand-xl > .container,
    .navbar-expand-xl > .container-fluid, .navbar-expand-xl > .container-sm, .navbar-expand-xl > .container-md, .navbar-expand-xl > .container-lg, .navbar-expand-xl > .container-xl {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.navbar .container,
.navbar .container-fluid, .navbar .container-sm, .navbar .container-md, .navbar .container-lg, .navbar .container-xl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header .container {
  position: relative;
  height: 100%;
}
  
  .header .header-content {
    width: 100%;
    position: absolute;
    left: 0;
    top: 55%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #fff;
  }
  
  .header .header-content .header-subtitle {
    margin-left: 6px;
    margin-bottom: 0%;
    font-weight: 200;
    font-size: calc(20px + (45 - 20) * ((100vw - 300px) / (1600 - 300)));
  }
  
  .header .header-content .header-title {
  font-size: calc(40px + (120 - 40) * ((100vw - 300px) / (1600 - 300)));
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 0px;
  margin-top: -20px;
  line-height: 1.2; /* Ajuste para mejorar la legibilidad */
  margin-bottom: 0px; /* Reducir el margen inferior para acercar el título al contenido siguiente */
  color: #d7d700; /* Cambiar el color del texto a uno que resalte */
  text-transform: uppercase; /* Convertir el texto a mayúsculas */
  letter-spacing: 1px; /* Ajustar el espaciado entre letras */
  }
  
  .header .header-content .header-mono {
    letter-spacing: 3px;
    margin-top: -15px;
    margin-left: 8px;
    font-weight: 500;
    font-size: calc(12px + (19 - 12) * ((100vw - 300px) / (1600 - 300)));
    margin-bottom: 40px;
  }
  
  @media (max-width: 767.98px) {
    .header {
      height: 500px;
      min-height: 500px;
    }
    .header .social-icons {
      margin: auto;
    }
    .header .header-content {
      padding: 20px;
    }
    .header .header-content .header-mono {
      letter-spacing: 2px;
    }
  }
  
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
  
  .header-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;


    opacity: .99;
    color: #212529;
  }
  .header-subtitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ececec !important; 
    font-weight: bold;
    opacity: 0.7;
    
  }
  .header-mono{
    color: #ececec !important; 
    font-weight: bold;
    opacity: .9;
  }
  
  .header-mini {
    min-height: 24rem;
    height: 24rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 1rem;
    background: #fcbec6;
  }

  .text-center {
    text-align: center !important;
  }
/*emoticones de redes sociales*/
  .text-primary {
    color: #000000 !important;
  }
  
  a.text-primary:hover, a.text-primary:focus {
    color: #ffc800 !important;
  }

  .text-primary-verMas {
    margin-top: 5px;
    color: #000000 !important;
  }
  
  a.text-primary-verMas:hover, a.text-primary-verMas:focus {
    color: #ffc800 !important;
  }

  .text-primary-consulta{
      color: #ffc800 !important; 
  }
  a.text-primary-consulta:hover, a.text-primary-consulta:focus {
    color: #ffc800 !important;
  }

  .text-primary-white{
    color: #ffffff !important; 
}
a.text-primary-white:hover, a.text-primary-white:focus {
  color: #ffc800 !important;
}


/* styles.css */
.custom-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.5rem; /* Tamaño de fuente más grande */
  color: #ffd000; /* Color primario */
  text-decoration: none; /* Sin subrayado */
  border: 2px solid transparent; /* Borde transparente para espacio */
  border-radius: 5px; /* Borde redondeado */
  transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

.custom-link:hover {
  background-color: #007bff; /* Fondo azul al pasar el ratón */
  color: #fff; /* Texto blanco al pasar el ratón */
  border-color: #007bff; /* Borde azul al pasar el ratón */
}


  .text-uppercase {
    text-transform: uppercase !important;
  }
  .text-center {
    text-align: center !important;
  }
  
  .destination-item img {
    transition: .5s;
  }
  
  .destination-item:hover img {
    transform: scale(1.3);
  }
  
  .destination-overlay {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: .5s;
    z-index: 1;
  }
  
  .destination-item:hover .destination-overlay {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-width: 30px;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .package-item {
    transition: .5s;
  }
  
  .package-item:hover {
    box-shadow: 0 0 30px #CCCCCC;
  }
  
.d-flex {
  display: flex !important;
}

.bg-registration {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/images/FotoAbout.jpg), no-repeat center center;
  background-size: cover;
}